<% teacher_post.each do |teacher| %>
  <% if teacher.status == "受付中" %>
    <div class="card mb-5 index-post">
  <% else %>
    <div class="favorite-red mb-5 index-post">
  <% end %>
      <div class="card-body">
      <!--投稿内容表示-->
        <h5 class="card-title">
          <%= link_to teacher.field, teacher_post_path(teacher), class:"link" %>:
          <% if teacher.status == "受付中" %>
            <span class="hand-write"><%= teacher.status %></span>
          <% else %>
            <span class="text-danger hand-write"><%= teacher.status %></span>
          <% end %>
          <% if teacher.user == current_user %>
          <%= link_to "編集する",  edit_teacher_post_path(teacher) ,class:"btn btn-outline-secondary btn-sm ml-5" %>
          <% else %>
          <%= link_to "連絡を取る", user_path(teacher.user) ,class:"btn btn-secondary btn-sm ml-5" %>
          <% end %>
        </h5>


        <div class="card-text font-weight-bold row">
          <div class="col-md-1 col-1">
          <% if teacher.user.image.attached? %>
            <%= image_tag teacher.user.image.variant(resize:'200x200'), class:"rounded-circle rounded-circle2" %>
          <% else %>
           <%= image_tag 'no_image.jpg', class:"rounded-circle rounded-circle2" %>
          <% end %>
          </div>
          　<div class="col-md-10 col-10"><%= teacher.body %></div>
        </div>

        <div class="text-muted mb-1 row ml-2">
           <div class="favorite-<%= teacher.id %>">
           <!--いいね機能 非同期化してます-->
            <%= render 'favorite_teachers/favorite', teacher: teacher %>
           </div>
          <span class="ml-2">条件:<%= teacher.title %></span>
        </div>


        <div class="comment-<%= teacher.id %>">
          <!--コメント表示機能-->
          <%= render 'comment_teachers/comment', teacher: teacher %>
        </div>
        <!--コメント投稿機能-->
        <div class="commnt-student-make border-top pt-3">
          <%= form_with(model:[teacher, comment_teacher], remote:true) do |f| %>
          <%= f.text_area :comment, size:"37x1", class:"inputComment" %>
          <%= f.submit "コメント", class:"btn btn-sm btn-outline-dark" %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>