<div class="student-title mb-5">
  <h1 class="text-center">〜教わりたい方人募集中〜</h1>
</div>

  <div class="row ml-5">
    <!--画面左側の新規投稿ページへのリンクがある範囲-->
    <div class="student-left col-md-3">
      <%= link_to new_teacher_post_path do %>
            <i class="fas fa-plus-square text-dark fa-2x new-button"></i>
            <span class="h2 text-dark">新規投稿する</span>
      <% end %>
    </div>
    <!--画面真ん中の一覧表示がされてる範囲-->
    <div class="student-center col-md-6 overflow-auto" style="width:100%; height:800px;">
      <!--投稿一覧 ここから-->
      <% @teacher_post.each do |teacher| %>
      <div class="card mb-2" style="width: 42rem;">
        <div class="card-body">
          <!--投稿内容表示-->
          <h5 class="card-title">
            <%= teacher.field %>:
            <% if teacher.status == "受付中" %>
              <span class="text-primary"><%= teacher.status %></span>
            <% else %>
              <span class="text-danger"><%= teacher.status %></span>
            <% end %>
            <% if teacher.user == current_user %>
            <%= link_to "編集する",  edit_teacher_post_path(teacher) ,class:"btn btn-primary btn-sm ml-5" %>
            <% else %>
            <%= link_to "連絡を取る", user_path(teacher.user) ,class:"btn btn-primary btn-sm ml-5" %>
            <% end %>
          </h5>
          <p class="card-text"><%= teacher.body %></p>
          <div class="text-muted">
            <span>条件:<%= teacher.title %>
             <div class="favorite-<%= teacher.id %>">
             <!--いいね機能 非同期化してます-->
              <%= render 'favorite_teachers/favorite', teacher: teacher %>
             </div>
           </span>
          </div>
          <div class="comment-<%= teacher.id %>">
            <!--コメント表示機能-->
            <%= render 'comment_teachers/comment', teacher: teacher %>
          </div>
          <!--コメント投稿機能-->
          <div class="commnt-student-make border-top pt-3">
            <%= form_with(model:[teacher, @comment_teacher], remote:true) do |f| %>
            <%= f.text_area :comment, size:"50x1", class:"inputComment" %><br>
            <%= f.submit "コメント", class:"btn btn-light" %>
            <% end %>
          </div>
        </div>
      </div>
      <% end %>
      <!--投稿一覧 ここまで-->
      <!--ーーーーーーーーーーーーーーーーーーーーーーここから下は試しに書いてるだけーーーーーーーーーーーーーーーーーーーーーーーーー-->
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
      <!--ーーーーーーーーーーーーーーーーーーーーーーここから上は試しに書いてるだけーーーーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-3"><p>aaaaa</p></div>
  </div>
