<div class="student-title pt-4 pb-4 mb-4 index-search border-bottom border-bottom">
  <div class="col-md-5 offset-md-3">
    <div class="row">
    <%= form_with url: teacher_posts_path, method: :get, local:true do |f| %>
      <%= f.select :field, options_for_select({"分野検索" => "分野検索","フリースタイル" => "フリースタイル", "グラトリ" => "グラトリ", "カービング" => "カービング", "その他" => "その他"}) %>
      <%= f.submit '検索', class:"btn btn-sm btn-outline-dark mr-5" %>
    <% end %>

    <%= form_with url: search_teacher_path, method: :get, local:true do |f| %>
      <%= f.text_field :key_word, value: @key_word, placeholder:'キーワード検索', class:'search_word' %>
      <%= f.submit '検索', class:"btn btn-sm btn-outline-dark"%>
    <% end %>
    </div>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <!--画面左側の新規投稿ページへのリンクがある範囲-->
    <div class="student-left col-md-1 pr-5">
      <%= link_to new_teacher_post_path(class:"link") do %>
            <i class="fas fa-plus-square link fa-2x new-button"></i>
            <%= link_to "新規投稿する", new_teacher_post_path, class:"h2 link" %>
      <% end %>
    </div>
    <!--画面真ん中の一覧表示がされてる範囲-->
    <div class="student-center col-md-6 mr-5 offset-md-1">
      <!--投稿一覧 ここから-->
      <div class="teacher_post-tbody">
        <%= render 'teacher_posts/index', teacher_post: @teacher_post, comment_teacher: @comment_teacher %>
      </div>
      <!--投稿一覧 ここまで-->
    </div>
    <div class="col-md-3">
      <div class="rounded-circle pl-5 pt-4 index-right mb-4" style="width:150%; height:200px;">
        <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間いいね獲得ランキング</h5>
        <% @favorite_rank.each.with_index(1) do |teacher, i| %>
        <p>第<%= i %>位<%= link_to teacher.title, teacher_post_path(teacher), class:"link" %>:<span class="text-muted"><%= teacher.favorite_teachers.count %>いいね</span></p>
        <% end %>
      </div>
      <div class="rounded-circle pl-5 pt-4 index-right mb-4" style="width:150%; height:200px;">
      <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間コメントランキング</h5>
      <% @comment_rank.each.with_index(1) do |teacher, i| %>
      <p>第<%= i %>位<%= link_to teacher.title, teacher_post_path(teacher), class:"link" %>:<span class="text-muted"><%= teacher.comment_teachers.count %>コメント</span></p>
      <% end %>
      </div>
      <div class="rounded-circle pl-5 pt-4 pr-3 index-right mb-4" style="width:150%; height:200px;">
        <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間人気投稿ランキング</h5>
        <% @ranking_posts.each.with_index(1) do |teacher, i| %>
        <p>第<%= i %>位<%= link_to teacher.title, teacher_post_path(teacher), class:"link" %>:<span class="text-muted"><%= teacher.teacher_view_counts.count %>ビュー</span></p>
        <% end %>
      </div>
      <div class="rounded-circle pl-5 pt-4 index-right mb-4" style="width:130%; height:190px;">
      <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間投稿数ランキング</h5>
      <% @ranking_users.each.with_index(1) do |user, i| %>
      <p>第<%= i %>位<%= link_to user.name, user_path(user), class:"link" %>:<span class="text-muted"><%= user.teacher_posts.count %>件</span></p>
      <% end %>
      </div>
    </div>
  </div>
</div>