<div class="sub-title pt-2 pb-2 mb-2">
  <div class="col-md-4 offset-md-4">
    <hr><h3 class="text-center link"><%= link_to @teacher_post.user.name, user_path(@teacher_post.user), class:"link" %>さんの投稿詳細ページ</h3><hr>
  </div>
</div>
</div>
<div class="index-post card mb-2 mt-4 d-flex mx-auto mb-5 col-11" style="width: 42rem;">
  <div class="card-body">
    <!--投稿内容表示-->
    <h5 class="card-title">
      <%= link_to @teacher_post.field, teacher_post_path(@teacher_post), class:"link" %>:
      <% if @teacher_post.status == "受付中" %>
        <span class="font-weight-bold text-muted"><%= @teacher_post.status %></span>
      <% else %>
        <span class="text-danger font-weight-bold"><%= @teacher_post.status %></span>
      <% end %>
      <% if @teacher_post.user == current_user %>
      <%= link_to "編集する",  edit_student_post_path(@teacher_post) ,class:"btn btn-outline-secondary btn-sm ml-2" %>
      <% else %>
      <%= link_to "連絡を取る", user_path(@teacher_post.user) ,class:"btn btn-secondary btn-sm ml-2" %>
      <% end %>
    </h5>

    <div class="card-text font-weight-bold row">
      <div class="col-md-1">
      <% if @teacher_post.user.image.attached? %>
        <%= image_tag @teacher_post.user.image.variant(resize:'200x200'), class:"rounded-circle rounded-circle2" %>
      <% else %>
       <%= image_tag 'no_image.jpg', class:"rounded-circle rounded-circle2" %>
      <% end %>
      </div>
      <div class="col-md-10"><%= @teacher_post.body %></div>
    </div>


    <div class="text-muted mb-1 row ml-1">
       <div class="favorite-<%= @teacher_post.id %>">
         <!--いいね機能 非同期化してます-->
          <%= render 'favorite_teachers/favorite', teacher: @teacher_post %>
       </div>
       <div class="col-md-6 col-10">
          条件:<%= @teacher_post.title %>
        </div>
       <div class="col-md-5 d-flex align-items-end col-10">
          <%= link_to  "https://twitter.com/share?url=#{request.url}&text=(Meet snowというアプリでの投稿です)", title: 'Twitter', target: '_blank' do %>
            <div class="fab fa-twitter btn text-right" style='color: #00acee;'>Twitterで共有する</div>
          <% end %>
       </div>
    </div>
    <!--コメント表示機能-->
    <div class="comment-<%= @teacher_post.id %>">
      <%= render 'comment_teachers/comment', teacher: @teacher_post %>
    </div>
    <!--コメント投稿機能-->
    <div class="commnt-student-make border-top pt-3">
      <%= form_with(model:[@teacher_post, @comment_teacher], remote:true) do |f| %>
      <%= f.text_area :comment, size:"50x1", class:"inputComment border border-info" %><br>
      <%= f.submit "コメント", class:"btn btn-outline-info" %>
      <% end %>
    </div>
  </div>
</div>