<% visitor = notification.visitor %>
<% visited = notification.visited %>

<div class="col-md-6 mx-auto">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor) do %>
        <%#= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
        <strong>
          <%= visitor.name %>
        </strong>
      <%= 'さんが' %>
      <% end %>

      <% case notification.action %>
        <% when 'follow' then %>
          <%= "あなたをフォローしました" %>
        <% when 'favorite' then %>
          <%= link_to 'あなたの投稿', notification.student_post, style: "font-weight: bold;" %>
          <%= "にいいねしました" %>
        <% when 'favorite_teacher' then %>
          <%= link_to 'あなたの投稿', notification.teacher_post, style: "font-weight: bold;" %>
          <%= "にいいねしました" %>
        <% when 'comment' then %>
          <% if notification.student_post.user_id == visited.id %>
            <%= link_to "あなたの投稿", notification.student_post, style: "font-weight: bold;" %>
          <!--<%# else %>-->
          <!--  <span>-->
          <!--    <%#= link_to post_path(notification.post) do %>-->
                <%#= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
          <!--      <strong>-->
          <!--        <%#= notification.post.user.name + 'さんの投稿' %>-->
          <!--      </strong>-->
          <!--    <#% end %>-->
          <!--  </span>-->
          <% end %>
          <%= "にコメントしました" %>
          <p class="text-muted.mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.comment %>
          </p>
        <% when 'dm' then %>
          <%= "あなたにDMを送りました" %>
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
    <hr>
  </div>
</div>