<% visitor = notification.visitor %>
<% visited = notification.visited %>
<div class="student-title pt-2 pb-2 mb-4 index-search d-flex align-items-center justify-content-center border-bottom">
  <div class="col-md-5">
    <hr><h3 class="text-center">通知一覧</h3><hr>
  </div>
</div>
<div class="col-md-6 mx-auto mb-5">
  <div class="form-inline">
    <span>
      <%= link_to user_path(visitor), class:"link" do %>
        <%#= image_tag avatar_url(visitor).to_s, class: "icon_mini" %>
        <strong>
          <%= visitor.name %>
        </strong>
      <% end %>
      <%= 'さんが' %>

      <% case notification.action %>
        <% when 'follow' then %>
          <span class="link"><%= "あなたをフォローしました" %></span>
        <% when 'favorite' then %>
          <%= link_to 'あなたの《生徒側》投稿', notification.student_post, class:"link", style: "font-weight: bold;" %>
          <%= "にいいねしました" %>
        <% when 'favorite_teacher' then %>
          <%= link_to 'あなたの《先生側》投稿', notification.teacher_post, class:"link", style: "font-weight: bold;" %>
          <%= "にいいねしました" %>
        <% when 'comment' then %>
          <% if notification.student_post.user_id == visited.id %>
            <%= link_to "あなたの《生徒側》投稿", notification.student_post, class:"link", style: "font-weight: bold;" %>
          <!--<%# else %>-->
          <!--  <span>-->
          <!--    <%#= link_to post_path(notification.post) do %>-->
                <%#= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
          <!--      <strong>-->
          <!--        <%#= notification.post.user.name + 'さんの投稿' %>-->
          <!--      </strong>-->
          <!--    <#% end %>-->
          <!--  </span>-->
          <% end %>
          <%= "にコメントしました" %>:
          <span class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_id)&.comment %>
          </span>
        <% when 'comment_teacher' then %>
          <% if notification.teacher_post.user_id == visited.id %>
            <%= link_to "あなたの《先生側》投稿", notification.teacher_post, class:"link", style: "font-weight: bold;" %>
          <!--<%# else %>-->
          <!--  <span>-->
          <!--    <%#= link_to post_path(notification.post) do %>-->
                <%#= image_tag avatar_url(notification.post.user).to_s, class: "icon_mini" %>
          <!--      <strong>-->
          <!--        <%#= notification.post.user.name + 'さんの投稿' %>-->
          <!--      </strong>-->
          <!--    <#% end %>-->
          <!--  </span>-->
          <% end %>
          <%= "にコメントしました" %>:
          <span class="text-muted mb-0">
            <%= Comment.find_by(id: notification.comment_teacher_id)&.comment %>
          </span>
        <% when 'dm' then %>
          <%= "あなたにDMを送りました" %>:
          <span class="text-muted mb-0">
            <%= Message.find_by(id: notification.message_id)&.message %>
          </span>
      <% end %>
    </span>
  </div>
  <div class="small text-muted text-right">
    <%= time_ago_in_words(notification.created_at).upcase %>
    <hr>
  </div>
</div>