<table class="table table-hover rounded bg-white card-fav mt-3">
  <thead>
    <tr>
      <th scope="col">状況</th>
      <th scope="col">分野</th>
      <th scope="col">条件</th>
      <th scope="col">いいね数</th>
      <th scope="col">コメント数</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% if favorite_list.present? %>
      <% favorite_list.each do |post| %>
    <tr>
        <% if post.status == "受付中" %>
            <th scope="row" class="hand-write"><%= post.status %></th>
          <% else %>
            <th scope="row" class="text-danger hand-write"><%= post.status %></th>
        <% end %>
        <td class="font-weight-bold"><%= link_to post.field, student_post_path(post), class:"link" %></td>
      <td><%= post.title %></td>
      <td><%= post.favorites.count %></td>
      <td><%= post.comments.count %></td>
      <td>
        <% if post.user == current_user %>
        <% else %>
          <%= link_to "連絡する", user_path(post.user), class:"btn btn-secondary btn-sm" %>
        <% end %>
      </td>
    </tr>
      <% end %>
    <% end %>
  </tbody>
</table>