<!--プロフィール欄 ここから-->
  <div class="row">
    <div class="col-md-2 offset-md-2">
      <!--プロフィール画像-->
      <% if user.image.attached? %>
        <%= image_tag user.image.variant(resize:'200x200'), class:"rounded-circle" %>
      <% else %>
       <%= image_tag 'no_image.jpg', class:"rounded-circle" %>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="row">
      <p class="ml-3 profile-name"><%= user.name %></p>
      <!--プロフィール編集or フォロー機能-->
      <% if @user == current_user %>
        <p><%= link_to "プロフィール編集", edit_user_path(user), class:"btn btn-primary btn-sm ml-2" %></p>
      <% else %>
          <% if current_user.following?(user) %>
            <p><%= link_to "Unfollow", user_relationship_path(user), class:"btn btn-info btn-sm mr-4 ml-2", method: :delete %></p>
          <% else %>
            <p><%= link_to "Follow", user_relationships_path(user), class:"btn btn-success btn-sm mr-4 ml-2",method: :post %></p>
          <% end %>
      <% end %>
      <!--ダイレクトメッセージ機能-->
      <% if user.id == current_user.id %>
      <% else %>
        <% if isRoom == true %>
          <p><a href="/rooms/<%= roomId %>">チャットへ</a>
        <% else %>
          <%= form_for room do |f| %>
            <%= fields_for entry do |e| %>
              <%= e.hidden_field :user_id, :value=> user.id %>
            <% end %>
            <%= f.submit "チャットを始める" %>
          <% end %>
        <% end %>
      <% end %>
      </div>
      <!--投稿数,フォロー,フォロワー表示-->
      <p>投稿<%= student_post.count + teacher_post.count %>件  　フォロー<%= link_to user.following_user.count, user_followings_path(user) %>人  　フォロワー<%= link_to user.followed_user.count, user_followers_path(user) %>人  </p>
      <%= user.introduction %>
    </div>
  </div>
  <!--プロフィール欄 ここまで-->