<div class="sub-title pt-2 pb-2 mb-2 mr-3">
  <div class="col-md-4 offset-md-4">
    <hr><h3 class="text-center link">ユーザー情報編集ページ</h3><hr>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="index-post-2 d-flex mx-auto justify-content-center align-items-center rounded mt-4 mb-5 card" style="height:450px; width:700px;">
        <%= form_with model: @user, local: true do |f| %>
        <div class="field mb-3 mt-4">
          <%= f.label :"名前",class:"mr-2 " %>
          <%= f.text_field :name, class:"border border-info" %>
        </div>
        <div class="field mb-3">
          <%= f.label :"画像",class:"mr-2" %>
          <%= f.file_field :image, class:"" %>
        </div>
        <div class="field mb-3">
          <span>ステータス：</span>
          <%= f.radio_button :status, :先生, checked: "checked" ,class:"ml-2" %>
          <%= f.label :status, "先生" %>
          <%= f.radio_button :status, :生徒 %>
          <%= f.label :status, "生徒" %>
        </div>
        <div class="field mb-3">
          <%= f.label :"自己紹介" %>
        　<%= f.text_area :introduction, size:"60x4", autofocus: true,class:"form-control border border-info" %>
        </div>

        <div class="actions">
          <%= f.submit "編集内容を保存", class: 'btn btn-outline-info mx-auto'  %>
        </div>
      <% end %>

      </div>
    </div>
    <div class="col-md-12 logout-button">
      <p class="text-right"><%= link_to "ログアウトする", destroy_user_session_path, class:"btn btn-outline-primary", method: :delete, data: {confirm: "本当にログアウトしますか？"} %></p>
    </div>
  </div>
</div>