
<div class="student-title pt-2 pb-2 mb-4 index-search d-flex align-items-center justify-content-center">
  <div class="col-md-5">
    <hr><h3 class="text-center">いいねした投稿一覧</h3><hr>
  </div>
</div>

<div class="student-title pt-2 pb-2 mb-4 d-flex align-items-center justify-content-center">
 <div class="col-md-2 ">
   <hr><h4 class="text-center">生徒側</h4><hr>
 </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <%= link_to "新着順でソート", favorites_users_path(current_user, sort:'status'), class:"btn btn-sm btn-outline-info " %>
      <%= link_to "分野でソート", favorites_users_path(current_user, sort:'field'), class:"btn btn-sm btn-outline-info " %>
      <%= link_to "コメント数でソート", favorites_users_path(current_user, sort:'comment'), class:"btn btn-sm btn-outline-info " %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
      <%= render 'users/favorites', favorite_list: @favorite_list %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<div class="student-title pt-2 pb-2 mb-4 d-flex align-items-center justify-content-center">
 <div class="col-md-2 ">
   <hr><h4 class="text-center">先生側</h4><hr>
 </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <%= link_to "新着順でソート", favorites_users_path(current_user, sort:'status-teacher'), class:"btn btn-sm btn-outline-info " %>
      <%= link_to "分野でソート", favorites_users_path(current_user, sort:'field-teacher'), class:"btn btn-sm btn-outline-info " %>
      <%= link_to "コメント数でソート", favorites_users_path(current_user, sort:'comment-teacher'), class:"btn btn-sm btn-outline-info " %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
      <%= render 'users/favorite-teacher', favorite_list: @favorite_list_teacher %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>