

<h2 class="text-center mt-3 mb-3">いいねした投稿一覧(生徒側)</h2>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <%= link_to "状況でソート", favorites_users_path(current_user, sort:'status'), class:"btn btn-sm btn-outline-dark " %>
      <%= link_to "分野でソート", favorites_users_path(current_user, sort:'field'), class:"btn btn-sm btn-outline-dark " %>
      <%= link_to "コメント数でソート", favorites_users_path(current_user, sort:'comment'), class:"btn btn-sm btn-outline-dark " %>
      <%#= link_to "新着順でソート", favorites_users_path(current_user), class:"btn btn-sm btn-outline-dark " %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
      <%= render 'users/favorites', favorite_list: @favorite_list %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

<h2 class="text-center mt-3 mb-3">いいねした投稿一覧(先生側)</h2>
<div class="container">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
      <%= render 'users/favorite-teacher', favorite_list: @favorite_list_teacher %>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>