<h1 class="text-center mt-3 mb-3">ユーザー一覧</h1>

<div class="d-flex align-items-center justify-content-center">
  <%= link_to "id順でソート", admins_users_path(sort:'id'), class:"btn btn-sm btn-outline-dark mr-1" %>
  <%= link_to "id逆順", admins_users_path(sort:'id-reverse'), class:"btn btn-sm btn-outline-dark mr-1" %>
  <%= link_to "投稿数でソート", admins_users_path(sort:'post'), class:"btn btn-sm btn-outline-dark mr-1" %>
  <%= link_to "フォロー数", admins_users_path(sort:'follow'), class:"btn btn-sm btn-outline-dark mr-1" %>
  <%= link_to "フォロワー数", admins_users_path(sort:'follower'), class:"btn btn-sm btn-outline-dark mr-1" %>
  <%= link_to "ステータスでソート", admins_users_path(sort:'is_valid'), class:"btn btn-sm btn-outline-dark mr-1" %>
  <%= link_to "ステータス逆順", admins_users_path(sort:'is_valid-reverse'), class:"btn btn-sm btn-outline-dark " %>
</div>
<div class="container">

  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-9">

      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">画像</th>
            <th scope="col">名前</th>
            <th scope="col">投稿数</th>
            <th scope="col">フォロー数</th>
            <th scope="col">フォロワー</th>
            <th scope="col">ステータス</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |user| %>
          <tr>
            <th scope="row"><%= user.id %></th>
            <td>
              <% if user.image.attached? %>
                <%= image_tag user.image.variant(resize:'200x200'), class:"rounded-circle rounded-circle2" %>
              <% else %>
               <%= image_tag 'no_image.jpg', class:"rounded-circle rounded-circle2" %>
              <% end %>
            </td>
            <td><%= user.name %></td>
            <td><%= user.student_posts.count + user.teacher_posts.count %></td>
            <td><%= user.following_user.count %></td>
            <td><%= user.followed_user.count %></td>
            <td>
              <% if user.is_valid == true %>
                <p class="text-success">有効</p>
              <% else %>
                <p class="text-secondary">アカウント停止</p>
              <% end %>
            </td>
            <td><%= link_to "編集", edit_admins_user_path(user), class:"btn btn-primary btn-sm" %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
      <!--ーーーーーーーーーーーーーーーーーー内容ーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <div class="col-md-1"></div>
  </div>
</div>

