<% if student_post.present? %>
  <% student_post.each do |student| %>
  <div class="card mb-2" style="width: 42rem;">
    <div class="card-body">
      <!--投稿内容表示-->
      <h5 class="card-title">
        <%= student.field %>:
        <% if student.status == "受付中" %>
          <span class="text-primary"><%= student.status %></span>
        <% else %>
          <span class="text-danger"><%= student.status %></span>
        <% end %>
        <% if student.user == current_user %>
        <%= link_to "編集する",  edit_student_post_path(student) ,class:"btn btn-primary btn-sm ml-5" %>
        <% else %>
        <%= link_to "連絡を取る", user_path(student.user) ,class:"btn btn-primary btn-sm ml-5" %>
        <% end %>
      </h5>
      <p class="card-text"><%= student.body %></p>
      <div class="text-muted mb-1">
       <span>条件:<%= student.title %>
  
         <div class="favorite-<%= student.id %>">
           <!--いいね機能 非同期化してます-->
            <%#= render 'favorites/favorite', student: student %>
         </div>
       </span>
      </div>
      <!--コメント表示機能-->
      <div class="comment-<%= student.id %>">
        <%#= render 'comments/comment', student: student %>
      </div>
      <!--コメント投稿機能-->
      <div class="commnt-student-make border-top pt-3">
        <%#= form_with(model:[student, comment], remote:true) do |f| %>
        <%#= f.text_area :comment, size:"50x1", class:"inputComment" %><br>
        <%#= f.submit "コメント", class:"btn btn-light" %>
        <%# end %>
      </div>
    </div>
  </div>
  <% end %>
<% else %>
  <p class="mx-auto white">検索に合致するものはありません</p>
<% end %>