<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1 class="meet_snow text-center mx-auto mt-3">〜生徒側の新規投稿ページ〜</h1>
      <div class="bg-info d-flex mx-auto justify-content-center align-items-center rounded mt-3 mb-2" style="height:430px; width:700px;">
        <%= form_with model:@student_post, local: true do |f| %>


        <div class="field mb-3 mt-4">
          <%= f.label :"投稿内容",class:"mr-2 h4" %>
          <%= f.text_area :body, size: "30x6", class: "form-control", placeholder: "◯◯ができません！教えてくれる方募集します！or ずっと教えてもらえるコーチを探しています！条件に合う方いたらお願いします！など" %>
        </div>
        <div class="field mb-3">
          <%= f.label :"先生の条件",class:"mr-2 h4" %>
          <%= f.text_field :title, size: "2x3", class: "form-control", placeholder: "◯◯をできる方であれば誰でもなど" %>
        </div>
        <div class="field mb-3">
          <%= f.label :"分野",class:"h4" %>
        　<%= f.select :field, [["フリースタイル", "フリースタイル"], ["グラトリ", "グラトリ"], ["カービング", "カービング"], ["その他", "その他"]], include_blank: "選択して下さい" %>
        　<%= f.radio_button :status,:受付中,  checked: "checked",class:"ml-2" %>
          <%= f.label :status, "受付中" %>
          <%= f.radio_button :status, :締め切り %>
          <%= f.label :status, "締め切り" %>
        </div>

        <div class="actions mb-3">
          <%= f.submit "編集内容を保存", class: 'btn btn-primary mx-auto'  %>
        </div>
      <% end %>
      </div>
      <div class="text-right">
        <%= link_to "投稿を削除する", student_post_path(@student_post), method: :delete, class:"btn btn-danger", data: {confirm: "本当に削除しますか？"} %>
      </div>
    </div>
  </div>
</div>