<div class="student-title mb-5">
  <h1 class="text-center">〜教えてくれる人募集中〜</h1>
</div>

  <div class="row ml-5">
    <!--画面左側の新規投稿ページへのリンクがある範囲-->
    <div class="student-left col-md-3">
      <%= link_to new_student_post_path do %>
            <i class="fas fa-plus-square text-dark fa-2x new-button"></i>
            <span class="h2 text-dark">新規投稿する</span>
      <% end %>
    </div>
    <!--画面真ん中の一覧表示がされてる範囲-->
    <div class="student-center col-md-6 overflow-auto" style="width:100%; height:800px;">
      <!--投稿一覧 ここから-->
      <% @student_post.each do |student| %>
      <div class="card mb-2" style="width: 42rem;">
        <div class="card-body">
          <!--投稿内容表示-->
          <h5 class="card-title">
            <%= student.field %>:
            <% if student.status == "受付中" %>
              <span class="text-primary"><%= student.status %></span>
            <% else %>
              <span class="text-danger"><%= student.status %></span>
            <% end %>
            <% if student.user == current_user %>
            <%= link_to "編集する",  edit_student_post_path(student) ,class:"btn btn-primary btn-sm ml-5" %>
            <% else %>
            <%= link_to "連絡を取る", user_path(student.user) ,class:"btn btn-primary btn-sm ml-5" %>
            <% end %>
          </h5>
          <p class="card-text"><%= student.body %></p>
          <div class="text-muted mb-1">
           <span>条件:<%= student.title %>

             <div class="favorite-<%= student.id %>">
               <!--いいね機能 非同期化してます-->
                <%= render 'favorites/favorite', student: student %>
             </div>
           </span>
          </div>
          <!--コメント表示機能-->
          <div class="comment-<%= student.id %>">
            <%= render 'comments/comment', student: student %>
          </div>
          <!--コメント投稿機能-->
          <div class="commnt-student-make border-top pt-3">
            <%= form_with(model:[student, @comment], remote:true) do |f| %>
            <%= f.text_area :comment, size:"50x1", class:"inputComment" %><br>
            <%= f.submit "コメント", class:"btn btn-light" %>
            <% end %>
          </div>
          <!--コメント投稿機能 非同期化-->
          <!--<div class="commnt-student-make border-top pt-3">-->
            <%#= form_with(model:[student, @comment], remote:true) do |f| %>
            <%#= f.text_area :comment, size:"50x1", class:"inputComment" %>
            <!--<br>-->
            <%#= f.submit "コメント", class:"btn btn-light" %>
            <%# end %>
          <!--</div>-->
        </div>
      </div>
      <% end %>
      <!--投稿一覧 ここまで-->
      <!--ーーーーーーーーーーーーーーーーーーーーーーここから下は試しに書いてるだけーーーーーーーーーーーーーーーーーーーーーーーーー-->
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
      <% @student_post.each do |student| %>
      <div class="card mb-2" style="width: 42rem;">
        <div class="card-body">
          <h5 class="card-title">
            <%= student.field %>
            <% if student.user == current_user %>
            <%= link_to "編集する",  edit_student_post_path(student) ,class:"btn btn-primary btn-sm ml-5" %>
            <% else %>
            <%= link_to "連絡を取る", user_path(student.user) ,class:"btn btn-primary btn-sm ml-5" %>
            <% end %>
          </h5>


          <p class="card-text"><%= student.body %></p>
          <div class="text-muted">
           <span>条件:<%= student.title %>

           <% if student.favorited_by?(current_user) %>
            <%= link_to student_post_favorite_path(id: student.id, student_post_id: student.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= student.favorites.count %>
            <% end %>

           <% else %>
            <%= link_to student_post_favorites_path(id: student.id, student_post_id: student.id), method: :post do %>
            <i class="far fa-heart"></i><%= student.favorites.count %>
            <% end %>

           <% end %>
           </span>
          </div>
        </div>
      </div>
      <% end %>
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
       <p>O</p><p>O</p>
      <% @student_post.each do |student| %>
      <div class="card border-top mb-2">

        <div class="card-header text-center">
          <%= student.field %>
          <% if student.user == current_user %>
            <%= link_to "編集する",  edit_student_post_path(student) ,class:"btn btn-primary btn-sm ml-5" %>
            <% else %>
            <%= link_to "連絡を取る", user_path(student.user) ,class:"btn btn-primary btn-sm ml-5" %>
            <% end %>
        </div>
        <div class="card-body">
          <h5 class="card-title text-center"><%= student.body %></h5>
        </div>
        <div class="text-muted">
          <span>条件:<%= student.title %>
          <% if student.favorited_by?(current_user) %>
            <%= link_to student_post_favorite_path(id: student.id, student_post_id: student.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= student.favorites.count %>
            <% end %>

           <% else %>
            <%= link_to student_post_favorites_path(id: student.id, student_post_id: student.id), method: :post do %>
            <i class="far fa-heart"></i><%= student.favorites.count %>
            <% end %>

           <% end %>
          </span>

        </div>
      </div>
      <% end %>
      <p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p><p>O</p>
      <% @student_post.each do |student| %>
      <%= student.body %>
      <%= student.title %>
      <%= student.field %>
      <% end %>
      <% @student_post.each do |student| %>
      <div class="card text-center border-top">

        <div class="card-header">
          <%= student.field %>
        </div>
        <div class="card-body">
          <h5 class="card-title"><%= student.body %></h5>
        </div>
        <div class="card-footer text-muted mb-5 border-bottom">
          <%= student.title %>
        </div>

      </div>
      <% end %>
      <p>O</p>
      <!--ーーーーーーーーーーーーーーーーーーーーーーここから上は試しに書いてるだけーーーーーーーーーーーーーーーーーーーーーーーーー-->
    </div>
    <!--画面右側の範囲-->
    <div class="col-md-3"><p>aaaaa</p></div>
  </div>
