<div class="student-title pt-2 pb-2 mb-4 index-search d-flex align-items-center justify-content-center">
  <div class="col-md-5">
    <hr><h3 class="text-center"><%= link_to @student_post.user.name, user_path(@student_post.user), class:"link" %>さんの投稿詳細ページ</h3><hr>
  </div>
</div>
<div class="card mb-2 d-flex mx-auto mb-5" style="width: 42rem;">
  <div class="card-body">
    <!--投稿内容表示-->
    <h5 class="card-title">
      <%= link_to @student_post.field, student_post_path(@student_post), class:"link" %>:
      <% if @student_post.status == "受付中" %>
        <span class="font-weight-bold text-muted"><%= @student_post.status %></span>
      <% else %>
        <span class="text-danger font-weight-bold"><%= @student_post.status %></span>
      <% end %>
      <% if @student_post.user == current_user %>
      <%= link_to "編集する",  edit_student_post_path(@student_post) ,class:"btn btn-outline-secondary btn-sm ml-5" %>
      <% else %>
      <%= link_to "連絡を取る", user_path(@student_post.user) ,class:"btn btn-secondary btn-sm ml-5" %>
      <% end %>
    </h5>

    <div class="card-text font-weight-bold row">
      <div class="col-md-1">
      <% if @student_post.user.image.attached? %>
        <%= image_tag @student_post.user.image.variant(resize:'200x200'), class:"rounded-circle rounded-circle2" %>
      <% else %>
       <%= image_tag 'no_image.jpg', class:"rounded-circle rounded-circle2" %>
      <% end %>
      </div>
      <div class="col-md-10"><%= @student_post.body %></div>
    </div>


    <div class="text-muted mb-1">
     <span>条件:<%= @student_post.title %>

       <div class="favorite-<%= @student_post.id %>">
         <!--いいね機能 非同期化してます-->
          <%= render 'favorites/favorite', student: @student_post %>
       </div>
     </span>
    </div>
    <!--コメント表示機能-->
    <div class="comment-<%= @student_post.id %>">
      <%= render 'comments/comment', student: @student_post %>
    </div>
    <!--コメント投稿機能-->
    <div class="commnt-student-make border-top pt-3">
      <%= form_with(model:[@student_post, @comment], remote:true) do |f| %>
      <%= f.text_area :comment, size:"50x1", class:"inputComment" %><br>
      <%= f.submit "コメント", class:"btn btn-light" %>
      <% end %>
    </div>
  </div>
</div>