<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="login_page d-flex mx-auto justify-content-center align-items-center rounded-pill mt-5 mb-5" style="height:470px; width:520px;">
        <%= form_with model: @user, url: user_session_path, local: true do |f| %>
        <%= render "devise/shared/error_messages", resource: @user %>
        <%= flash[:alert]%>

        <h1 class="meet_snow display-4">Meet snow</h1>

        <div class="field mb-3 mt-4">
          <%= f.text_field :name, autofocus: true, placeholder: "名前" %>
        </div>

        <div class="field mb-3">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@examle.com" %>
          </div>

        <div class="field mb-3">
          <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード(6文字以上)" %>
        </div>
        <div class="actions">
          <%= f.submit "ログイン", class: 'btn btn-primary mx-auto'  %>
        </div>
      <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 ">
      <p class="text-right">アカウント作成の方は<%= link_to "こちら", new_user_registration_path, class: 'text-decolation' %>から。</p>
    </div>
  </div>
</div>
