<div class="sub-title pt-2 pb-2 mb-4">
  <div class="col-md-4 offset-md-4 hand-write col-7 offset-3">
    <h3>検索結果:<%= @teacher_post.count %>件</h3>
    <h5>
      <% if @key_word == "" %>
        文字が入ってないので、全件表示します
      <% else %>
        [<%= @key_word %>]に該当する投稿
      <% end %>
    </h5>
  </div>
</div>

<div class="student-title mb-5 mt-2">
  <div class="col-md-5 offset-md-4 col-9 offset-3">
    <%= form_with url: search_teacher_path, method: :get, local:true do |f| %>
      <%= f.text_field :key_word, value: @key_word, placeholder:'キーワード検索', class:'search_word' %>
      <%= f.submit '検索'%>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <!--画面左側の新規投稿ページへのリンクがある範囲-->
    <div class="student-left col-md-1 pr-5 res-link">
      <%= link_to new_teacher_post_path(class:"link") do %>
            <i class="fas fa-plus-square link-icon fa-2x new-button"></i>
            <%= link_to "新規投稿する", new_teacher_post_path, class:"h2 link" %>
      <% end %>
    </div>
    <!--画面真ん中の一覧表示がされてる範囲-->
    <div class="student-center col-md-6 mr-5 offset-md-1 col-12">
      <!--投稿一覧 ここから-->
      <div class="teacher_post-tbody">
        <%= render 'teacher_posts/phone', teacher_post: @teacher_post, comment_teacher: @comment_teacher %>
      </div>
      <!--投稿一覧 ここまで-->
    </div>
    <div class="col-md-3 res-link">
      <div class="rounded-circle pl-5 pt-4 index-post mb-5 right-ranking" style="width:150%; height:200px;">
        <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間いいね獲得ランキング</h5>
        <% @favorite_rank.each.with_index(1) do |teacher, i| %>
        <p>第<%= i %>位<%= link_to teacher.title, teacher_post_path(teacher), class:"link" %>:<span class="text-muted"><%= teacher.favorite_teachers.count %>いいね</span></p>
        <% end %>
      </div>
      <div class="rounded-circle pl-5 pt-4 index-post mb-5 right-ranking" style="width:150%; height:200px;">
      <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間コメントランキング</h5>
      <% @comment_rank.each.with_index(1) do |teacher, i| %>
      <p>第<%= i %>位<%= link_to teacher.title, teacher_post_path(teacher), class:"link" %>:<span class="text-muted"><%= teacher.comment_teachers.count %>コメント</span></p>
      <% end %>
      </div>
      <div class="rounded-circle pl-5 pt-4 pr-3 index-post mb-5 right-ranking" style="width:150%; height:200px;">
        <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間人気投稿ランキング</h5>
        <% @ranking_posts.each.with_index(1) do |teacher, i| %>
        <p>第<%= i %>位<%= link_to teacher.title, teacher_post_path(teacher), class:"link" %>:<span class="text-muted"><%= teacher.teacher_view_counts.count %>ビュー</span></p>
        <% end %>
      </div>
      <div class="rounded-circle pl-5 pt-4 index-post mb-5 right-ranking" style="width:130%; height:190px;">
      <h5 class="font-weight-bold"><i class="fas fa-crown"></i>週間投稿数ランキング</h5>
      <% @ranking_users.each.with_index(1) do |user, i| %>
      <p>第<%= i %>位<%= link_to user.name, user_path(user), class:"link" %>:<span class="text-muted"><%= user.teacher_posts.count %>件</span></p>
      <% end %>
      </div>
    </div>
  </div>
</div>

<%= paginate @teacher_post %>