<div class="sub-title pt-2 pb-2 mb-4">
  <div class="col-md-4 offset-md-4 hand-write col-7 offset-3">
    <h3>検索結果:<%= @teacher_post.count %>件</h3>
    <h5>
      <% if @key_word == "" %>
        文字が入ってないので、全件表示します
      <% else %>
        [<%= @key_word %>]に該当する投稿
      <% end %>
    </h5>
  </div>
</div>

<div class="student-title mb-5 mt-2">
  <div class="col-md-5 offset-md-4 col-9 offset-3">
    <%= form_with url: search_teacher_path, method: :get, local:true do |f| %>
      <%= f.text_field :key_word, value: @key_word, placeholder:'キーワード検索', class:'search_word' %>
      <%= f.submit '検索'%>
    <% end %>
  </div>
</div>
<div class="container">
  <div class="row mb-5">
    <!--画面左側の新規投稿ページへのリンクがある範囲-->
    <div class="student-left col-md-1 pr-5 res-link">
      <%= link_to new_teacher_post_path(class:"link") do %>
            <i class="fas fa-plus-square link-icon fa-2x new-button"></i>
            <%= link_to "新規投稿する", new_teacher_post_path, class:"h2 link" %>
      <% end %>
    </div>
    <!--画面真ん中の一覧表示がされてる範囲-->
    <div class="student-center col-md-6 mr-5 offset-md-1 col-12">
      <!--投稿一覧 ここから-->
      <div class="teacher_post-tbody">
        <%= render 'teacher_posts/phone', teacher_post: @teacher_post, comment_teacher: @comment_teacher %>
      </div>
      <!--投稿一覧 ここまで-->
    </div>
    <div class="col-md-3 res-link">
      <%= render 'teacher_posts/ranking', favorite_rank: @favorite_rank, comment_rank: @comment_rank, ranking_posts: @ranking_posts, ranking_users: @ranking_users %>
    </div>
  </div>
</div>

<%= paginate @teacher_post %>