<!DOCTYPE html>
<html>
  <head>
    <title class="text-blue">MeetSnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name ="viewport" content="width=device-width, initial-scale=1, maximim-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-white border-bottom border-info">
        <div class="container">
          <a class="navbar-brand text-info" href="/">
            <span>Meet snow</span>
          </a>
          <% if user_signed_in? %>
            <% if request.path.include?("users") %>
              <%= form_with url: search_users_path, method: :get, remote:true do |f| %>
                <%= f.text_field :keyword, value: @keyword, placeholder:'ユーザー検索', class:'search_user_user rounded',autocomplete: 'off' %>
              <% end %>
            <% else %>
              <%= form_with url: search_users_path, method: :get, remote:true do |f| %>
                <%= f.text_field :keyword, value: @keyword, placeholder:'ユーザー検索', class:'search_user rounded',autocomplete: 'off' %>
              <% end %>
            <% end %>
          <% else %>
          <% end %>
          <div>
           <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to student_posts_path, class:"nav-link" do %>
              <span class="fas fa-baby link"> Student</span>
              <% end %>
            </li>
            <li>
              <%= link_to teacher_posts_path, class:"nav-link" do %>
              <span class="fas fa-user-graduate link" > Teacher</span>
              <% end %>
            </li>
            <li>
              <%= link_to favorites_users_path(current_user), class:"nav-link" do %>
              <span class="fas fa-heart link "style="font-size: 1.5em;"> </span>
              <% end %>
            </li>
            <li>
              <%= link_to evaluations_path, class:"nav-link" do %>
              <span class="fas fa-thumbtack link " style="font-size: 1.5em;"> </span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user), class:"nav-link" do %>
              <span class="fas fa-user link " style="font-size: 1.5em;"> </span>
              <% end %>
            </li>

            <li>
              <%= link_to notifications_path(current_user), class:"nav-link" do %>
                <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <i class="fas fa-bell link" style="font-size: 1.5em;" ></i>
                    <i class="fas fa-circle n-circle fa-stack-1x" style="font-size: 0.7em;" ></i>
                  </span>
                <% else %>
                  <i class="fas fa-bell link" style="font-size: 1.5em;" ></i>
                <% end %>
              <% end %>
            </li>
            <% elsif admin_signed_in? %>
            <li>
              <%= link_to admins_users_path, class:"nav-link" do %>
              <span class="fas fa-user link"> ユーザー</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, class:"nav-link" ,method: :delete, data: {confirm: "本当にログアウトしますか？"} do %>
              <span class="fas fa-hand-peace link"> ログアウト</span>
              <% end %>
            </li>
            <% end %>
           </ul>
          </div>
        </div>
      </nav>
    </header>
    <div id="result_user">
    <%= yield %>
    </div>
    <footer>
      <div class="index-search border-top border-info"><br>
      <p class="text-center">c</p>
      <br>
      </div>
    </footer>
  </body>
</html>
