<!DOCTYPE html>
<html>
  <head>
    <title class="text-blue">MeetSnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name ="viewport" content="width=device-width, initial-scale=1, maximim-scale=1">
    <script src="https://js.cx/libs/animate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <%= favicon_link_tag('favicon.ico') %>
  </head>

  <body>
    <% unless current_page?(root_path) %>
    <header>
      <%= render 'layouts/header', keyword: @keyword %>
    </header>
    <% end %>
    <div id="result_user" class="mb-5">
    <%= yield %>
    </div>
    <footer>
      <% unless current_page?(root_path) %>
      <div class="footer-color"><br>
        <div class="container">
          <div class="row">
            <div class="col-md-12 mt-5 mb-5">
              <p class="text-center text-white">c</p>
            </div>
          </div>
        </div>
      <br>
      </div>
      <% end %>
    </footer>
  </body>
</html>
