<!DOCTYPE html>
<html>
  <head>
    <title class="text-blue">MeetSnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name ="viewport" content="width=device-width, initial-scale=1, maximim-scale=1">
    <script src="https://js.cx/libs/animate.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% unless current_page?(root_path) %>

    <header>
      <nav class="navbar navbar-expand-lg pt-3 pb-3">
        <div class="d-flex align-items-left justify-content-left">

        </div>
        <div class="container">
          <a class="navbar-brand text-info text-left blue-round" href="/">
            <span class="meet-snow">Meet snow</span>
          </a>
          <div class="d-flex mx-auto">
            <% if user_signed_in? %>
              <%= form_with url: search_users_path, method: :get, remote:true do |f| %>
              <%= f.text_field :keyword, value: @keyword, placeholder:'ユーザー検索', class:'search_user rounded',autocomplete: 'off' %>
            <% end %>
          </div>
          <div>
           <ul class="navbar-nav ml-auto">
            <li>
              <%= link_to student_posts_path, class:"nav-link" do %>
              <span class="fas fa-baby link-icon"> <span class="link">Student</span></span>
              <% end %>
            </li>
            <li>
              <%= link_to teacher_posts_path, class:"nav-link" do %>
              <span class="fas fa-user-graduate link-icon" > <span class="link">Teacher</span></span>
              <% end %>
            </li>
            <li>
              <%= link_to favorites_users_path(current_user), class:"nav-link" do %>
              <span class="fas fa-heart link-icon"style="font-size: 1.5em;"> </span>
              <% end %>
            </li>
            <li>
              <%= link_to rooms_path, class:"nav-link" do %>
              <span class="fas fa-comment link-icon" style="font-size: 1.5em;"> </span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user), class:"nav-link" do %>
              <span class="fas fa-user link-icon" style="font-size: 1.5em;"> </span>
              <% end %>
            </li>

            <li>
              <%= link_to notifications_path(current_user), class:"nav-link" do %>
                <% if unchecked_notifications.any? %>
                  <span class="fa-stack">
                    <i class="fas fa-bell link-icon" style="font-size: 1.5em;" ></i>
                    <i class="fas fa-circle n-circle fa-stack-1x" style="font-size: 0.7em;" ></i>
                  </span>
                <% else %>
                  <i class="fas fa-bell link-icon" style="font-size: 1.5em;" ></i>
                <% end %>
              <% end %>
            </li>
            <% elsif admin_signed_in? %>
            <li>
              <%= link_to admins_users_path, class:"nav-link" do %>
              <span class="fas fa-user link-icon"> ユーザー</span>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_admin_session_path, class:"nav-link" ,method: :delete, data: {confirm: "本当にログアウトしますか？"} do %>
              <span class="fas fa-hand-peace link-icon"> ログアウト</span>
              <% end %>
            </li>
            <% end %>
           </ul>
          </div>
        </div>
      </nav>
      <% end %>

    </header>

    <div id="result_user" class="mb-5">
    <%= yield %>
    </div>
    <footer>
      <% unless current_page?(root_path) %>
      <div class="footer-color"><br>
      <div class="container">
        <div class="row">
          <div class="col-md-12 mt-5 mb-5">
            <p class="text-center text-white">c</p>
          </div>
        </div>
      </div>
      <br>
      </div>
      <% end %>
    </footer>
  </body>
</html>
