<!DOCTYPE html>
<html>
  <head>
    <title>MeetSnow</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name ="viewport" content="width=device-width, initial-scale=1, maximim-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-white mb-3 border-bottom">
        <div class="container">
          <a class="navbar-brand text-dark" href="">
            <span>Meet snow</span>
          </a>
          <div>
           <ul class="navbar-nav ml-auto">
            <% if user_signed_in? %>
            <li>
              <%= link_to student_posts_path, class:"nav-link" do %>
              <span class="fas fa-baby text-dark"> Student</span>
              <% end %>
            </li>
            <li>
              <%= link_to teacher_posts_path, class:"nav-link" do %>
              <span class="fas fa-user-graduate text-dark" > Teacher</span>
              <% end %>
            </li>
            <li>
              <%= link_to favorites_users_path(current_user), class:"nav-link" do %>
              <span class="fas fa-heart text-dark"> Favorite</span>
              <% end %>
            </li>
            <li>
              <%= link_to user_path(current_user), class:"nav-link" do %>
              <span class="fas fa-user text-dark"> User</span>
              <% end %>
            </li>

            <% elsif admin_signed_in? %>
            <li>
              <%= link_to admins_users_path, class:"nav-link" do %>
              <span class="fas fa-heart text-dark"> ユーザー一覧</span>
              <% end %>
            </li>
            <li>
              <%= link_to root_path, class:"nav-link" do %>
              <span class="fas fa-user text-dark"> Topページへ</span>
              <% end %>
            </li>
            <% end %>
           </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
